/* Adicione aqui todo o estilo da sua página */
/* Hora de colocar a criatividade em prática! */

body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color:rgb(39, 37, 37);
    background-color: rgb(230, 224, 224);
}

nav{
    text-align: center;
    font-size: 1.1rem;
}

.logo{
    position: absolute;
    left:4rem;
    font-size: 1.5rem;
    top:10px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav li:hover{
    cursor: pointer;
    color:#81131e;
}

#vegan{
    color:#81131e;

}

nav li{
    display: inline-block;
    padding: 30px;

}

.banner{
    margin:auto;
    /* border:1px solid red; */
    text-align: center;
}

.banner-img{
    width:600px;
    /* border: 1px solid black; */
    position: absolute;
    top:100px;
}

.slogan{
    /* border: 1px solid green; */
    font-family: 'EB Garamond', serif;
    margin-left: 6rem;
    margin-top: 6rem;
    text-align: left;
    width:50%;
}

.slogan h1{
    color:black;
    font-size: 4rem;
    width:90%;
}

.slogan p{
    font-size: 1.3rem;
    width:70%;
}

.cardapio{
    /* border: 1px solid blue; */
    margin-top: 9rem;
    text-align: center;
}

.card{
    /* border:1px solid red; */
    display: inline-block;
    width:18%;
    padding:10px 10px 0;
    vertical-align: top;
    text-align: center;
}

.card h3{
    font-weight: 400;
}

.card p{
    font-size: 0.9rem;
    text-align: left;
}

.food-description{
    background-image: linear-gradient(to top left, white, rgb(194, 191, 191));
    padding:50px 20px 1px;
    border-radius: 30%;
    position: relative;
    top:-4rem;
    box-shadow: 1px 1px rgb(194, 194, 194);
    height:200px;
    z-index:-1;
}

.dish-img{
    height: 200px;
    z-index:1;
}

p.price{
    text-align: right;
    width: 90%;
    margin-top: 40px;
}

.seta{
    background-color: #81131e;
    width: 50px;
    height: 50px;
    border-radius:50%;
    position: relative;
}

.seta:hover{
    cursor: pointer;
}

.seta i{
    color:white;
    position: relative;
    top:1rem;
    right:0.1rem;
}

#seta-esquerda{
    top:17.5rem;
    left:6rem;
    background-color: gray;
}

#seta-direita{
    top:-14.8rem;
    left:75.5rem;
}

.testimonials{
    text-align: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 35px;
}


.card-client{
    display: inline-block;
    width:20%;
    vertical-align: top;
}

.testimonials h3{
    font-size: 50px;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
}

.card-client p{
    width:80%;
    font-style: italic;
    margin-top: 30px;
    text-align: right;
}

.client-name{
    text-align: right;
    width: 80%;
}

.client-img{
    text-align: center;
    width:200px;
    border-radius: 10%;
    margin-right: 2rem;
}

aside{
    padding:20px;
}

.team{
    padding: 0;
}

.about{
    vertical-align: middle;
    padding: 0;
    display: inline-block;
    width:30%;
    margin-left: 50px;
    margin-top: 0;
    line-height: 2rem;
    padding: 20px;
    border-radius: 10%;
    text-align: right;
    color:rgb(65, 68, 65)
}

aside h3{
    font-weight: 100;
    color:black;
    font-size: 2rem;
    text-transform:uppercase;
    font-family: 'EB Garamond', serif;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.team-img{
    vertical-align: middle;
    width:60%;
    display: inline-block;
}

.gallery{
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: white;
    text-align: center;
}

.gallery h3{
    font-family: 'EB Garamond', serif;
    margin-bottom: 4rem;
    font-size: 2rem;
    text-align: left;
    padding-left: 5rem;
    font-weight: 100;
}



.gallery-pictures{
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    grid-auto-flow: dense;
    grid-gap:1rem;
}

div.gallery-pictures{
    overflow: hidden;
    width:80%;
    margin: auto;
}

 
.gallery-pic{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

footer{
    background-color: greenyellow;
    padding: 20px;
    text-align: center;
    margin-top:30px;
}

footer li{
    list-style-type: none;
}

footer ul{
    padding: 0;
    margin: 0;
    width:100%;
}
