/* Adicione aqui todo o estilo da sua página */
/* Hora de colocar a criatividade em prática! */

body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:rgb(39, 37, 37);
    background-color: rgb(230, 224, 224);
}

nav{
    text-align: center;
    font-size: 1.1rem;
}

.logo{
    position: absolute;
    left:4rem;
    font-size: 1.5rem;
    top:10px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav li:hover{
    cursor: pointer;
    color:#81131e;
}

#vegan{
    color:#81131e;

}

nav li{
    display: inline-block;
    padding: 30px;

}

.banner{
    margin:auto;
    /* border:1px solid red; */
    text-align: center;
}

.banner-img{
    width:600px;
    /* border: 1px solid black; */
    position: absolute;
    top:100px;
}

.slogan{
    /* border: 1px solid green; */
    font-family: 'EB Garamond', serif;
    margin-left: 6rem;
    margin-top: 6rem;
    text-align: left;
    width:50%;
}

.slogan h1{
    color:black;
    font-size: 4rem;
    width:90%;
}

.slogan p{
    font-size: 1.3rem;
    width:70%;
}

.cardapio{
    /* border: 1px solid blue; */
    margin-top: 9rem;
    text-align: center;
}

.card{
    /* border:1px solid red; */
    display: inline-block;
    width:18%;
    padding:10px 10px 0;
    vertical-align: top;
    text-align: center;
}

.card h3{
    font-weight: 400;
}

.card p{
    font-size: 0.9rem;
    text-align: left;
}

.food-description{
    background-image: linear-gradient(to top left, white, rgb(194, 191, 191));
    padding:50px 20px 1px;
    border-radius: 30%;
    position: relative;
    top:-4rem;
    box-shadow: 1px 1px rgb(194, 194, 194);
    height:200px;
    z-index:-1;
}

.dish-img{
    height: 200px;
    z-index:1;
}

.seta{
    background-color: #81131e;
    width: 50px;
    height: 50px;
    border-radius:50%;
    position: relative;
   
}
.seta i{
    color:white;
    position: relative;
    top:1rem;
    right:0.1rem;
}

#seta-esquerda{
    top:17.5rem;
    left:6rem;
    background-color: gray;
}

#seta-direita{
    top:-14.8rem;
    left:75.5rem;
}

.client-img{
    width:100px;
    border-radius: 10%;
}

.team-img{
    width:800px;
}

.gallery{
}

.gallery-pic{
    width:300px;
    border-radius: 10%;
}