/* Adicione aqui todo o estilo da sua página */
/* Hora de colocar a criatividade em prática! */

body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:rgb(39, 37, 37);
    background-color: rgb(230, 224, 224);
}

nav{
    text-align: center;
    font-size: 1.1rem;
}

.logo{
    position: absolute;
    left:0;
    font-size: 1.5rem;
    top:10px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav li:hover{
    cursor: pointer;
    color:#81131e;
}

#vegan{
    color:#81131e;

}

nav li{
    display: inline-block;
    padding: 30px;

}

.banner{
    margin:auto;
    /* border:1px solid red; */
    text-align: center;
}

.banner-img{
    width:600px;
    /* border: 1px solid black; */
    position: absolute;
    top:100px;
}

.slogan{
    /* border: 1px solid green; */
    font-family: 'EB Garamond', serif;
    margin-left: 6rem;
    margin-top: 6rem;
    text-align: left;
    width:50%;
}

.slogan h1{
    color:black;
    font-size: 4rem;
    width:90%;
}

.slogan p{
    font-size: 1.3rem;
    width:70%;
}

.dish-img{
    height: 200px;
}
.seta{
    background-color: #81131e;
    width: 50px;
    height: 50px;
    border-radius:50%;
}
.seta i{
    color:white;
}

.client-img{
    width:100px;
    border-radius: 10%;
}

.team-img{
    width:800px;
}

.gallery{
}

.gallery-pic{
    width:300px;
    border-radius: 10%;
}